{% extends "billboard/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% if form.errors %}

<h3 class = "hello-text">Your username and password didn't match. Please try again.</h3>

{% endif %}
<br />
<form method="post" action="" class = "form-center">
    {% csrf_token %}
    {{ form.username|attr:"type:input"|attr:'placeholder:Enter username' }}
    <br />
    <br />
    {{ form.password|attr:"type:password"|attr:"rows-8"|attr:'placeholder:Enter password'}}
    <br />
    <br />
    <input type="submit" class = "btn btn-add" value="Login" />
</form>
<div class = "signup">
  <a href="{% url 'signup'%}">
    <button class = "btn btn-info"/>Sign Up</button>
  </a>
</div>

{%endblock%}
